.main-header {
    background: #fbd2b6;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header h1 {
    font-size: 20px;
    font-weight: bold;
}

.main-header input {
    width: 200px;
    padding: 6px 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.main-header button {
    background: #f97316;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;
}