body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
}

.main-sidebar-menu {
    min-width: 150px;
    width: 20vw;
    height: 90vh;
    background-color: #fff;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    position:sticky;
    top:66px;
}

.main-sidebar-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-menu-item {
    position: relative;
}

.main-menu-item a {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    color: #444;
    text-decoration: none;
    transition: background-color 0.2s, color 0.2s;
}

.main-menu-item.active a {
    background-color: #f8e5e5;
    color: #d9534f;
    border-left: 5px solid #d9534f;
    padding-left: 15px;
}

.main-menu-item a:hover {
    background-color: #f0f0f0;
}

.main-menu-item .main-side-bar-icon {
    font-size: 20px;
    margin-right: 15px;
    color: #d9534f;
}

.main-menu-item .main-side-bar-text {
    font-weight: bold;
    font-size: 16px;
}

.main-side-bar-divider {
    border-top: 1px solid #eee;
    margin: 20px 0;
}

.main-side-bar-divider {
    border-top: 1px solid #eee;
    margin: 20px 0;
}


.mini-footer-links {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: gray;
}

.mini-footer-links .plain-link,
.mini-footer-links .plain-link:visited,
.mini-footer-links .plain-link:hover,
.mini-footer-links .plain-link:active,
.mini-footer-links .plain-link:focus {
    color: inherit;
    text-decoration: none;
    outline: none;
}

.mini-footer-links .dot {
    opacity: .45;
}

@media (max-width: 768px) {
    .main-sidebar-menu {
        display: none;
    }
}