<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC
		   "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		   
<mapper namespace="restaurant_mapper">

	<insert id="saveApiRestaurant" parameterType="Restaurant">
		MERGE INTO MP_RESTAURANT B
    USING (
        SELECT
            #{name} AS NAME,
            #{description} AS DESCRIPTION,
            null AS CATEGORY,
            0.0 AS AVG_RATING,
            0 AS RATING_COUNT,
            null AS SOLO_INDEX,
            null AS PHOTO_URL,
            #{latitude} AS LATITUDE,
            #{longitude} AS LONGITUDE,
            #{address} AS ADDRESS,
            'ACTIVE' AS STATUS,
            SYSTIMESTAMP AS CREATED_AT,
            SYSTIMESTAMP AS UPDATED_AT,
            null AS DELETED_AT,
            <if test="phone != null and phone != ''">
                #{phone}
            </if>
            <if test="phone == null or phone == ''">
                '000-0000-0000'
            </if> AS PHONE
        FROM DUAL
    ) A
    ON (B.NAME = A.NAME AND B.ADDRESS = A.ADDRESS)
    WHEN MATCHED THEN
        UPDATE SET
            B.DESCRIPTION = A.DESCRIPTION,
            B.LATITUDE = A.LATITUDE,
            B.LONGITUDE = A.LONGITUDE,
            B.PHONE = A.PHONE,
            B.UPDATED_AT = SYSTIMESTAMP
    WHEN NOT MATCHED THEN
        INSERT (
            ID,
            NAME,
            DESCRIPTION,
            CATEGORY,
            AVG_RATING,
            RATING_COUNT,
            SOLO_INDEX,
            PHOTO_URL,
            LATITUDE,
            LONGITUDE,
            ADDRESS,
            STATUS,
            CREATED_AT,
            UPDATED_AT,
            DELETED_AT,
            PHONE
        ) VALUES (
            MP_RESTAURANT_SEQ.NEXTVAL,
            A.NAME,
            A.DESCRIPTION,
            A.CATEGORY,
            A.AVG_RATING,
            A.RATING_COUNT,
            A.SOLO_INDEX,
            A.PHOTO_URL,
            A.LATITUDE,
            A.LONGITUDE,
            A.ADDRESS,
            A.STATUS,
            A.CREATED_AT,
            A.UPDATED_AT,
            A.DELETED_AT,
            A.PHONE
        )
	</insert>
	
	<select id="findAllRestaurants" resultType="Restaurant">
        SELECT
        ID,
        NAME,
        DESCRIPTION,
        CATEGORY,
        AVG_RATING,
        RATING_COUNT,
        SOLO_INDEX,
        PHOTO_URL,
        LATITUDE,
        LONGITUDE,
        ADDRESS,
        PHONE
        FROM MP_RESTAURANT
    </select>
	
	<select id="getRestaurantById" parameterType="long" resultType="Restaurant">
		SELECT
        ID,
        NAME,
        DESCRIPTION,
        CATEGORY,
        AVG_RATING,
        RATING_COUNT,
        SOLO_INDEX,
        PHOTO_URL,
        LATITUDE,
        LONGITUDE,
        ADDRESS,
        PHONE
        FROM MP_RESTAURANT
        WHERE ID = #{id}
	</select>
	

</mapper>