<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC
		   "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		   
<mapper namespace="review_mapper">
   
    <select id="getReviewCountByRestaurantId" parameterType="long" resultType="long">
        SELECT COUNT(*)
        FROM MP_REVIEW
        WHERE RESTAURANT_ID = #{restaurantId}
        AND DELETED_AT IS NULL
    </select>
    
    <select id="getReviewsByRestaurantId" parameterType="java.util.Map" resultType="Review">
        SELECT
        r.ID,
        r.RESTAURANT_ID,
        r.USER_ID,
        r.RATING,
        r.SOLO_SCORE,
        r.REVIEW_COMMENT,
        r.STATUS,
        TO_CHAR(r.CREATED_AT, 'YYYY-MM-DD HH24:MI:SS') as CREATED_AT,
        TO_CHAR(r.UPDATED_AT, 'YYYY-MM-DD HH24:MI:SS') as UPDATED_AT,
        r.DELETED_AT,
        r.MENU_SCORE,
        r.SEAT_SCORE,
        u.USERNAME as USERNAME  FROM mp_review r
    INNER JOIN mp_user u ON r.USER_ID = u.ID  WHERE r.RESTAURANT_ID = #{restaurantId}
    AND r.DELETED_AT IS NULL
    <choose>
        <when test="sortOrder == 'recommendation'">
            ORDER BY LENGTHB(r.REVIEW_COMMENT) DESC
        </when>
        <when test="sortOrder == 'highestRating'">
            ORDER BY r.RATING DESC
        </when>
        <when test="sortOrder == 'lowestRating'">
            ORDER BY r.RATING ASC
        </when>
        <otherwise>
            ORDER BY r.CREATED_AT DESC
        </otherwise>
    </choose>
    OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
    </select>
    
    <insert id="createReview" parameterType="Review">
		INSERT INTO mp_review (
			id,
			restaurant_id,
			user_id,
			rating,
			solo_score,
			menu_score,
			seat_score,
			review_comment,
			status,
			created_at
		) VALUES (
			mp_reviews_seq.NEXTVAL,
			#{restaurantId},
			#{userId},
			#{rating},
			#{menuScore} + #{seatScore},
			#{menuScore},
			#{seatScore},
			#{reviewComment},
			'ACTIVE',
			SYSTIMESTAMP
		)
	</insert>
	
	<update id="incrementReviewCount" parameterType="long">
        UPDATE mp_restaurant
        SET rating_count = rating_count + 1
        WHERE id = #{restaurantId}
    </update>
    
    <update id="decrementReviewCount" parameterType="long">
        UPDATE mp_restaurant
        SET rating_count = rating_count - 1
        WHERE id = #{restaurantId}
    </update>
    
    <update id="updateReview" parameterType="Review">
        UPDATE mp_review
        SET
            rating = #{rating},
            review_comment = #{reviewComment},
            menu_score = #{menuScore},
            seat_score = #{seatScore},
            solo_score = #{soloScore},
            updated_at = SYSTIMESTAMP
        WHERE
            id = #{id}
    </update>
    
    <update id="markReviewAsDeleted" parameterType="long">
        UPDATE mp_review
        SET 
            status = 'DELETED',
            deleted_at = SYSTIMESTAMP
        WHERE id = #{id}
    </update>
    
    <select id="getReviewById" parameterType="long" resultType="Review">
        SELECT
            *
        FROM mp_review
        WHERE ID = #{id}
    </select>
    
    <update id="updateRestaurantInfoWhenReview" parameterType="Long">
        UPDATE MP_RESTAURANT r
        SET 
            r.RATING_COUNT = (
                SELECT COUNT(rw.ID)
                FROM MP_REVIEW rw
                WHERE rw.RESTAURANT_ID = r.ID
                AND rw.DELETED_AT IS NULL
            ),
            r.AVG_RATING = (
                SELECT ROUND(AVG(rw.RATING),1)
                FROM MP_REVIEW rw
                WHERE rw.RESTAURANT_ID = r.ID
                AND rw.DELETED_AT IS NULL
            ),
            r.SOLO_INDEX = (
                SELECT ROUND(AVG(rw.SOLO_SCORE),1)
                FROM MP_REVIEW rw
                WHERE rw.RESTAURANT_ID = r.ID
                AND rw.DELETED_AT IS NULL
            ),
            r.AVG_MENU_SCORE = (
                SELECT ROUND(AVG(rw.MENU_SCORE),1)
                FROM MP_REVIEW rw
                WHERE rw.RESTAURANT_ID = r.ID
                AND rw.DELETED_AT IS NULL
            ),
            r.AVG_SEAT_SCORE = (
                SELECT ROUND(AVG(rw.SEAT_SCORE),1)
                FROM MP_REVIEW rw
                WHERE rw.RESTAURANT_ID = r.ID
                AND rw.DELETED_AT IS NULL
            ),
            r.UPDATED_AT = SYSTIMESTAMP
            WHERE r.id = #{restaurantId}
    </update>
    
    <select id="findReviewsByUserId" resultType="myReview">
	    SELECT
	        r.ID AS review_id,
	        r.REVIEW_COMMENT AS review_comment,
	        r.RATING AS rating,
	        TO_CHAR(r.CREATED_AT, 'YYYY-MM-DD HH24:MI:SS') as CREATED_AT,
	        r.MENU_SCORE AS menu_score,
	        r.SEAT_SCORE AS seat_score,
	        re.ID AS restaurant_id,
	        re.NAME AS restaurant_name,
	        re.PHOTO_URL AS restaurant_photo_url,
	        re.AVG_RATING AS restaurant_avg_rating
	    FROM
	        mp_review r
	    INNER JOIN
	        mp_restaurant re ON r.RESTAURANT_ID = re.ID
	    WHERE
	        r.USER_ID = #{userId} AND r.DELETED_AT IS NULL
	</select>
</mapper>